@font-face {
  font-family: "LatoRegular";
  src: url("../fonts/Lato-Regular.ttf") format(truetype);
  font-family: "LatoLight";
  src: url("../fonts/Lato-Light.ttf") format(truetype);
}
* {
  margin: 0;
}

body {
  background-color: #2c2f33;
  /* overflow-x: hidden; */
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: #2c2f33;
  width: 100%;
  height: 2.5em;
}
h1 {
  color: #ffffff;
  font-family: "LatoRegular", sans-serif;
}

.container {
  margin-top: 35px;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  width: 100%;
}

.container img {
  width: 100%;
  height: auto;
}

.film {
  margin-right: 25px;
  padding: 0;
  width: 50vh;
  /* height: auto; */
  transition: 500ms;

  border: #2c2f33 3px solid;
  border-radius: 7px;
}

.film:hover {
  transform: scale(1.05);
  transition: 500ms;
}
.text {
  color: white;
  font-family: "LatoRegular", sans-serif;
  margin-top: 5px;
}

h3.text {
  display: inline-block;
  vertical-align: middle;
}
.viewButton {
  background-color: #ffffff;
  color: #2c2f33;
  font-weight: 900;

  border: #ffffff 5px solid;
  border-radius: 5px;

  transition: 0.3s;

  display: inline-block;
  vertical-align: middle;

  position: relative;
  left: 70%;
}
.viewButton:hover {
  background-color: #7289da;
  border: #7289da 5px solid;

  transition: 0.3s;
}

.searchedInputDiv {
  position: relative;
  z-index: 3;

  left: 85%;
  top: 8px;

  height: 40px;
  width: 177px;
}

.searchedInput {
  position: relative;
  height: 90%;
}

#priceFilter {
  position: absolute;
  left: 0;
  top: 107%;
  width: 177px;
}

@media screen and (min-width: 320px) and (max-width: 400px) and (orientation: portrait) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
  }
  .searchedInputDiv {
    scale: 0.5;
    left: 53%;
  }
  .searchedInput {
    width: 120%;

    font-size: xx-large;
  }
  #priceFilter {
    width: 125%;
    /* font-size: xx-large; */
  }
  .viewButton {
    left: 25%;
  }

  .film {
    margin-right: 10px;
  }
}
@media screen and (min-width: 400px) and (max-width: 600px) and (orientation: portrait) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
  }
  .searchedInputDiv {
    position: relative;
    z-index: 3;

    left: 57%;
    top: 8px;

    height: 40px;
    width: 40%;
  }
  .searchedInput,
  #priceFilter {
    scale: 0.8;
  }
  .film {
    margin-right: 10px;
  }

  .viewButton {
    left: 30%;
  }
}
@media screen and (min-width: 601px) and (orientation: portrait) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
  }
  #filmGenre {
    font-size: large;
  }
  .viewButton {
    left: 55%;
  }
  #priceText {
    margin-left: 10px;
  }
  .searchedInputDiv {
    left: 78.5%;
  }
  .film {
    margin-right: 10px;
  }
  .text {
    font-size: large;
  }
  #filmGenre {
    font-size: xx-large;
  }
  #priceText {
    margin-left: 20px;
  }
  .viewButton {
    top: -2%;
    left: 60%;
    scale: 2;
  }
}
@media screen and (min-width: 900px) and (orientation: portrait) {
  #filmTitle {
    font-size: xx-large;
  }
}
